.hero {
  background-color: $color-blue;
}

.hero-content {
  h1,h2,h3,h4,h5,h6,p,a {
    color: white;
    font-weight: 600;
  }
  padding: {
    left: $site-margins;
    right: $site-margins;
    bottom: 2rem;
  }
  @include media($tablet-up) {
    padding-bottom: 3rem;
  }
}
