.index-cards {
  .card-image + .card-content {
    padding: 0 1rem;
  }   
}

@include media($tablet-up) {
  .index-cards {
    display: flex;
    flex-flow: row wrap;

    &:after {
      content: "";
      flex: auto;
    }
  }

  .index-cards .index-cards-item {
    width: 32%;
    margin: 0;
    margin-right: 2%;
    display: flex;

    &:nth-child(3n+3) {
      margin-right: 0;
    }
  }

  .index-cards .index-cards-item .index-card {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    flex: 1;
  }

  .index-cards {
    .card-image + .card-content {
      flex-grow: 1;
      padding: 0 1rem;
    }
    .card-logo + .card-content {
      flex-grow: 1;
    }    
  }

  .index-cards .index-cards-item .card-image {
  }

  .index-cards .index-cards-item .index-card-content {
  }
}
