.mobile-navigation.global-header-navigation {
  @media screen and (max-width: $tablet-up) {
    @include transition(opacity .25s ease-in-out);
    opacity: 0;
    background-color: $color-dark-gray;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: $color-dark-blue;
    display: block;
    z-index: -1;
    padding: 1rem;
    .mobile-navigation-is-active & {
      opacity: 1;
      z-index: 1;
      .global-header-menu {
        z-index: 2;
        float: none;
        a {
          font-size: 1.2rem;
          display: block;
          width: 100%;
          color: white;
          font-weight: 600;
          padding: 1rem;
        }
      }
      .global-header-menu + .global-header-menu {
        margin-top: 1rem;
        &:before {
          content: '';
          display: block;
          position: relative;
          width: 100%;
          height: 1px;
          background-color: white;
          margin-bottom: 1rem;
        }
      }
    }
  }
}

.mobile-navigation-button {
  display: none;
  z-index: 2;
  margin-top: 0;
  margin-bottom: 2rem;
  a {
    position: absolute;
    right: 1rem;
    margin: 0;
  }
  .mobile-navigation-is-active & {
    display: block;
  }
}

body.mobile-navigation-is-active {
  overflow: hidden;
}
