.card {
  margin: {
    top: 1rem;
    bottom: 1rem;
  }
  padding: 0;
  text-align: left;
}

.logo-card {
  margin: {
    top: 1rem;
    bottom: 1rem;
  }
  padding: 1rem;
  text-align: left;
}

// Shared styles for link/action cards
a.action-card, a.link-card, a.index-card {
  display: block;
  text-decoration: none;
  color: inherit;
}

// Link card
a.link-card {
  background-color: $color-shade-gray;
  overflow: hidden;
  .card-image {
    margin-top: -1rem;
    margin-left: -1rem;
    margin-bottom: -.5rem;
    width: calc(100% + 2rem);
    max-width: calc(100% + 2rem);
  }
}

// Action card
a.action-card {
  text-align: center;
}

// Index card
a.index-card {
  border: 1px solid $color-light-gray;
  overflow: hidden;
  .card-image {
    margin-top: -1rem;
    margin-left: -1rem;
    margin-bottom: -.5rem;
		width: 100%;
		display: block;
		margin: 0 auto;
  }
  .card-logo {
    margin-top: -1rem;
    margin-left: -1rem;
    margin-bottom: -.5rem;
		width: 70%;
		display: block;
		margin: 0 auto;
  }  
  .card-icon {
    max-width: 75px;
    margin-left: auto;
    margin-right: auto;
  }
  &:hover {
    box-shadow: 0 0 8px 2px rgba(0,0,0,0.1);
  }
}

// Index card
a.supporter-card {
  border: 1px solid $color-light-gray;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  .card-image {
    width: 80%;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
  &:hover {
    box-shadow: 0 0 8px 2px rgba(0,0,0,0.1);
  }
}

// Subcomponents for all cards

.card-content {
  padding: 1rem;
}

.card-button {
  display: inline-block;
  margin: .5rem 0 0;
}

.card-link {
  @extend a;
  a.card:hover & {
    text-decoration: underline;
  }
}

.card-icon {
  margin-top: .5rem;
  margin-bottom: .5rem;
  max-width: 125px;
}

.card-image {

}

.card-overhead {
  @include h6;
  margin-top: $large-spacing;
  margin-bottom: 0;
}

.card-title {
  @include h4;

  &.card-link {
    @extend a;
  }
  .card-overhead + & {
    margin-top: .25rem;
  }
}
