version: '3'
services:
  app:
    build: ./
    command: sh -c "./generate_state_json.sh && flask run --host=0.0.0.0 --port=5000"
    ports:
      - "5000:5000"
    environment:
      - FLASK_ENV=development
      - FLASK_APP=server.py
    working_dir: /code/
    volumes:
      - ./:/code/:cached
    depends_on:
      - build

  build:
    image: node
    working_dir: /code/
    command: sh -c "npm install . && npm run watch"
    volumes:
      - ./:/code/:cached
