<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MealsCount - Validation</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--<script src="https://use.typekit.net/lkd6vsz.js"></script>-->

    <style>
        .district-row{ cursor: pointer; }
        .district-row:hover { background-color: #eee; }
        .districts table { font-size: 10pt; }
        svg path { cursor: pointer; }
        .green { font-weight: bold; color: #0e0; } 
        .money { font-size: 14pt; font-weight: bold; color: #0e0; }
        html {
            font-family: "freight-sans-pro", "Freight Sans Pro", "Verdana", "Arial", sans-serif;
        }
    </style>
  </head>
  <body >
        <!--

        TODO
        - make est reimbursement front & center
        - highlight optimization _ improvement _
        - Details button -> strategy, slideout schoolgroupings within strategies
        - Call To Action - [ Let Us Help You ]

        -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
            <a class="navbar-brand" href="#">MealsCount</a>
  
            <button class="navbar-toggler" 
                    type="button" 
                    data-toggle="collapse" 
                    data-target="#navbarSupportedContent" 
                    aria-controls="navbarSupportedContent" 
                    aria-expanded="false" 
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="https://opensandiego.org">Open San Diego </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="https://cfpa.net">CFPA</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="https://www.sandiegohungercoalition.org/">SD Hunger</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/opensandiego/mealscount-backend/tree/validate">Source Code</a>
                    </li>
                </ul>
            </div>
        </nav>

    <div class="container" id="app">

        <!-- Display Selected School TOOD maybe in modal? -->
        <div class="row">

            <!-- Left Col (ditsrict list) -->
            <div class="col-sm-4">  
                <h2 class="mt-4">Districts</h2>
                <div class="row mb-3 districts">
                    <table class="table col-sm">
                        <thead class="thead">
                            <tr>
                                <th scope="col">Code</th>
                                <th scope="col">Name</th>
                                <th scope="col">Schools</th>
                                <th scope="col">Total Enrolled</th>
                                <!--
                                <th scope="col">Baseline ISP</th>
                                <th scope="col">Best ISP</th>
                                <th scope="col">Best Strategy</th>
                                <th scope="col">Potential Improvement</th>
                                -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="7">
                                    <input  v-model="filter" 
                                            class="form-control" 
                                            type="text" 
                                            placeholder="Filter by name or code" 
                                    />
                                </td>
                            </tr>
                            <tr class="district-row" v-for="d in districts"> 
                                <td>{{ d.code }}</td>
                                <td v-on:click="selectDistrict(d)">{{ d.name }}</td>
                                <td>{{ d.schools.length | commas }}</td>
                                <td>{{ d.total_enrolled | commas }}</td>
                                <!--
                                <td>{{ d.strategies[0].isp | ispFormat }}</td> 
                                <td>{{ d.strategies[d.best_index].isp | ispFormat}}</td> 
                                <td>{{ d.strategies[d.best_index].name}}</td> 
                                <td>{{ increaseOverBaseline(d.strategies[d.best_index],d.strategies[0]) | deltaCommas }}</td> 
                                -->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    
            <!-- right col -->
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm text-center">
                        <svg id="map"></svg>
                    </div>
                </div>
                <div class="row">
                    <div v-if="selected"  class="col-sm">
                        <h4>
                            District {{ selected.code }}: {{ selected.name }} 
                            <a v-on:click="deselectDistrict" class="btn btn-secondary btn-small">close</a>
                        </h4>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                {{ selected.schools.length | commas}} Schools 
                            </li>
                            <li class="list-group-item">
                                <p><strong>Total Enrolled:</strong> {{ selected.total_enrolled | commas}}</p>
                                <p><strong>Potential Reimbursement:</strong>
                                    <span class="money">
                                    {{ (selected.strategies[selected.best_index].reimbursement.low_end_estimate*SCHOOL_YEAR) | money }}
                                    to
                                    {{ (selected.strategies[selected.best_index].reimbursement.high_end_estimate*SCHOOL_YEAR) | money }}
                                    <a href="#assumptions">*</a>
                                    </span>
                                </p>
                                <p><strong>Potential Benefit of Optimization:</strong> <br>
                                    <span class="green">
                                    {{ increaseOverBaseline(selected.strategies[selected.best_index],selected.strategies[0]) | deltaCommas }} more eligible<br>
                                    {{ (increaseReimbursementOverBaseline(selected.strategies[selected.best_index],selected.strategies[0])[1]*SCHOOL_YEAR) | money }}
                                    </span>
        
                                </p>
                            </li>
                        </ul>
                    <div>
                    <div class="m-1">
                        <button class="btn btn-secondary" 
                                type="button" 
                                data-toggle="collapse" 
                                data-target="#collapseExample" 
                                aria-expanded="false" 
                                aria-controls="collapseExample">
                            Details
                        </button>
                    </div>
                    <table class="table collapse" id="collapseExample">
                        <thead class="thead-light">
                                <th scope="col">Strategy</th>
                                <th scope="col">ISP</th>
                                <th scope="col">Increase In Student Coverage</th>
                                <th scope="col">Total Reimbursement*</th>
                        </thead>
                        <tbody>
                            <tr v-for="(s,i) in selected.strategies">
                                <td>{{ s.name }}</td>
                                <td>{{ s.isp | ispFormat }}</td>
                                <td v-if="i == 0">- baseline -</td> 
                                <td v-else-if="i == selected.best_index" class="green">{{ increaseOverBaseline(s,selected.strategies[0]) | deltaCommas }}</td>
                                <td v-else>{{ increaseOverBaseline(s,selected.strategies[0]) | deltaCommas }}</td>
                                <td>
                                    {{ s.reimbursement.low_end_estimate*SCHOOL_YEAR | money }} 
                                    to 
                                    {{ s.reimbursement.high_end_estimate*SCHOOL_YEAR | money }}
                                </td>
                            </tr> 
                        </tbody>
                    </table>
                </div>
            </div>

            <div v-else class="col-sm">
                <p>Select a school to see details</p>
                <h4>Districts in California</h4>
                <!-- <svg id="summary"></svg> -->
                <div>
                    <p><strong>Total Enrolled:</strong> {{ summary.total_enrolled | commas }}</p>
                    <p><strong>Total Potential Reimbursements Per School Year<a href="#assumptions">*</a>
</strong><br>
                        <span class="green">
                        {{ summary.potential_reimbursement.low | money }}
                        to 
                        {{ summary.potential_reimbursement.high | money }}
                        </span>
                    </p>
                    <p>
                        <strong>Potential Improvement with Optimization: </strong><br>
                        <span class="green">+{{ summary.potential_improvement | commas }} more students covered</span><br>
                        <span class="green">
                            {{ summary.potential_reimbursement.delta | money }} additional reimbursements
                        </span>
                    </p>
                </div>
            </div>

            <div v-if="selected != null" class="col-sm" id="selectedSchools">
                <div class="col-sm mt-2">
                    <h5>Schools</h5>
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Code</th>
                                <th scope="col">Name</th>
                                <th scope="col">Enrolled</th>
                                <th scope="col">Isp</th>
                            </tr>
                        <thead>
                        <tbody>
                            <tr v-for="s in selected.schools">
                                <td>{{ s.school_code }}</td>
                                <td>{{ s.school_name }}</td>
                                <td>{{ s.total_enrolled | commas }}</td>
                                <td>{{ s.isp | ispFormat }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div> 
            </div>
        </div>


        <div class="row mt-2">
            <h4 id="assumptons">* Assumptions made</h4>
            <ul>
                <li>School Year estimated to be 180 days</li>
            </ul>

        </div>
    </div> <!-- /container -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.1/d3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.core.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="viz.js"></script>
</body>
</html>

