<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MealsCount - Validation</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .district-row{ cursor: pointer; }
        .district-row:hover { background-color: #eee; }
        .districts table { font-size: 10pt; }
        svg path { cursor: pointer; }
        .green { font-weight: bold; color: #0e0; } 
        .money { font-size: 14pt; font-weight: bold; color: #0e0; }
    </style>
  </head>
  <body >
        <!--

        TODO
        - make est reimbursement front & center
        - highlight optimization _ improvement _
        - Details button -> strategy, slideout schoolgroupings within strategies
        - Call To Action - [ Let Us Help You ]

        -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
            <a class="navbar-brand" href="#">MealsCount</a>
  
            <button class="navbar-toggler" 
                    type="button" 
                    data-toggle="collapse" 
                    data-target="#navbarSupportedContent" 
                    aria-controls="navbarSupportedContent" 
                    aria-expanded="false" 
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="https://opensandiego.org">Open San Diego </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="https://cfpa.net">CFPA</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="https://www.sandiegohungercoalition.org/">SD Hunger</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/opensandiego/mealscount-backend/tree/validate">Source Code</a>
                    </li>
                </ul>
            </div>
        </nav>

    <div class="container" id="app">

        <!-- Display Selected School TOOD maybe in modal? -->
        <div class="row">
            <div class="col-sm">
                <svg id="map"></svg>
            </div>
            <div v-if="selected"  class="col-sm">
                <h4>
                    District {{ selected.code }}: {{ selected.name }} 
                    <a v-on:click="deselectDistrict" class="btn btn-secondary btn-small">close</a>
                </h4>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        {{ selected.schools.length | commas}} Schools 
                        <button 
                            class="btn btn-secondary btn-sm" 
                            type="button"
                            data-toggle="collapse" 
                            href="#selectedSchools"
                            data-target="#selectedSchools"
                            aria-expanded="false"
                            aria-controls="selectedSchools" >
                            show
                        </button>
                    </li>
                    <li class="list-group-item">
                        <p><strong>Total Enrolled:</strong> {{ selected.total_enrolled | commas}}</p>
                        <p><strong>Potential Reimbursement:</strong>
                            <span class="money">
                            {{ (selected.strategies[selected.best_index].reimbursement.low_end_estimate*SCHOOL_YEAR) | money }}
                            to
                            {{ (selected.strategies[selected.best_index].reimbursement.high_end_estimate*SCHOOL_YEAR) | money }}
                            <a href="#assumptions">*</a>
                            </span>
                        </p>
                        <p><strong>Potential Benefit of Optimization:</strong> <br>
                            <span class="green">
                            {{ increaseOverBaseline(selected.strategies[selected.best_index],selected.strategies[0]) | deltaCommas }} more eligible<br>
                            {{ (increaseReimbursementOverBaseline(selected.strategies[selected.best_index],selected.strategies[0])[1]*SCHOOL_YEAR) | money }}
                            </span>

                        </p>
                    </li>
                </ul>
                <div>
                    <div class="mb-1">
                        <button class="btn btn-secondary" 
                                type="button" 
                                data-toggle="collapse" 
                                data-target="#collapseExample" 
                                aria-expanded="false" 
                                aria-controls="collapseExample">
                            Details
                        </button>
                    </div>
                    <table class="table collapse" id="collapseExample">
                        <thead class="thead-light">
                                <th scope="col">Strategy</th>
                                <th scope="col">ISP</th>
                                <th scope="col">Increase In Student Coverage</th>
                                <th scope="col">Total Reimbursement*</th>
                        </thead>
                        <tbody>
                            <tr v-for="(s,i) in selected.strategies">
                                <td>{{ s.name }}</td>
                                <td>{{ s.isp | ispFormat }}</td>
                                <td v-if="i == 0">- baseline -</td> 
                                <td v-else-if="i == selected.best_index" class="green">{{ increaseOverBaseline(s,selected.strategies[0]) | deltaCommas }}</td>
                                <td v-else>{{ increaseOverBaseline(s,selected.strategies[0]) | deltaCommas }}</td>
                                <td>
                                    {{ s.reimbursement.low_end_estimate*SCHOOL_YEAR | money }} 
                                    to 
                                    {{ s.reimbursement.high_end_estimate*SCHOOL_YEAR | money }}
                                </td>
                            </tr> 
                        </tbody>
                    </table>
                </div>
            </div>
            <div v-else class="col-sm">
                <p>Select a school to see details</p>
                <h4>Districts in California</h4>
                <!-- <svg id="summary"></svg> -->
                <div>
                    <p><strong>Total Enrolled:</strong> {{ summary.total_enrolled | commas }}</p>
                    <p><strong>Total Potential Reimbursements Per School Year<a href="#assumptions">*</a>
</strong><br>
                        <span class="green">
                        {{ summary.potential_reimbursement.low | money }}
                        to 
                        {{ summary.potential_reimbursement.high | money }}
                        </span>
                    </p>
                    <p>
                        <strong>Potential Improvement with Optimization: </strong><br>
                        <span class="green">+{{ summary.potential_improvement | commas }} more students covered</span><br>
                        <span class="green">
                            {{ summary.potential_reimbursement.delta | money }} additional reimbursements
                        </span>
                    </p>
                </div>
            </div>

            <!-- 
            <div class="row collapse" id="selectedSchools">
                <div class="col-sm mt-2">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Code</th>
                                <th scope="col">Name</th>
                                <th scope="col">Enrolled</th>
                                <th scope="col">Isp</th>
                            </tr>
                        <thead>
                        <tbody>
                            <tr v-for="s in selected.schools">
                                <td>{{ s.school_code }}</td>
                                <td>{{ s.school_name }}</td>
                                <td>{{ s.total_enrolled | commas }}</td>
                                <td>{{ s.isp | ispFormat }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div> 
            -->
        </div>
  
        <h2 class="mt-4">Districts</h2>
        <div class="row mb-3 districts">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Code</th>
                        <th scope="col">Name</th>
                        <th scope="col">Schools</th>
                        <th scope="col">Total Enrolled</th>
                        <th scope="col">Baseline ISP</th>
                        <th scope="col">Best ISP</th>
                        <th scope="col">Best Strategy</th>
                        <th scope="col">Potential Improvement</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="7">
                            <input  v-model="filter" 
                                    class="form-control" 
                                    type="text" 
                                    placeholder="Filter by name or code" 
                            />
                        </td>
                    </tr>
                    <tr class="district-row" v-for="d in districts"> 
                        <td>{{ d.code }}</td>
                        <td v-on:click="selectDistrict(d)">{{ d.name }}</td>
                        <td>{{ d.schools.length | commas }}</td>
                        <td>{{ d.total_enrolled | commas }}</td>
                        <td>{{ d.strategies[0].isp | ispFormat }}</td> 
                        <td>{{ d.strategies[d.best_index].isp | ispFormat}}</td> 
                        <td>{{ d.strategies[d.best_index].name}}</td> 
                        <td>{{ increaseOverBaseline(d.strategies[d.best_index],d.strategies[0]) | deltaCommas }}</td> 
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row mt-2">
            <h4 id="assumptons">* Assumptions made</h4>
            <ul>
                <li>School Year estimated to be 180 days</li>
            </ul>
        </div>
    </div> <!-- /container -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.1/d3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.core.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>

        var SCHOOL_YEAR = 180; // Days in school year

        // Define Filters
        Vue.filter("ispFormat", function(v){ return "" + (v*100).toFixed(1) + "%"; });
        // Commas regex from https://stackoverflow.com/questions/2901102/
        Vue.filter("commas", function(v){ return v.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","); });
        Vue.filter("deltaCommas", function(v){ 
            var x = v.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","); 
            if(v > 0){ return "+"+x; }
            return x;
            
        });
        Vue.filter("money", function(v){ 
            var prefix = "$";
            if(v > 0){ prefix = "+$"; }
            else if(v < 0){ prefix = "-$"; }
            var x = Math.abs(v).toFixed(2);
            if( x >=  1000000000){
                return prefix + (x/1000000000).toFixed(2) + "b";
            }else if( x >= 1000000){
                return prefix + (x/1000000).toFixed(1) + "m";
            }else{
                return prefix + (x/1000).toFixed(1) + "k";
            }
            
        });

        // Our base data object 
        var data = {district_data:[], filter:"",selected:null,SCHOOL_YEAR:SCHOOL_YEAR};
        // Our Vue App
        var app = new Vue({
            el: '#app',
            data: data,
            computed: {
                // Compute filtered districts to display
                districts: function(){
                    return data.district_data.filter(function(o){ 
                        if( data.filter == "" ){ return true; }  
                        if( o.name.toLowerCase().search(data.filter.trim().toLowerCase()) >= 0 ||
                            o.code.toLowerCase().indexOf(data.filter.trim().toLowerCase()) == 0){
                            return true;
                        }
                        return false;
                    });
                },
                summary: function(){
                    var result = {total_enrolled:0,potential_improvement:0,potential_reimbursement:{low:0,high:0,delta:0}}; 
                    data.district_data.forEach(function(d){
                        result.total_enrolled += d.total_enrolled;
                        result.potential_improvement += d.strategies[d.best_index].total_eligible - d.strategies[0].total_eligible;
                        result.potential_reimbursement.low += d.strategies[d.best_index].reimbursement.low_end_estimate * SCHOOL_YEAR;
                        result.potential_reimbursement.high += d.strategies[d.best_index].reimbursement.high_end_estimate * SCHOOL_YEAR;
                        result.potential_reimbursement.delta += 
                            ( d.strategies[d.best_index].reimbursement.high_end_estimate - d.strategies[0].reimbursement.high_end_estimate ) * SCHOOL_YEAR;
                    });
                    return result;
                }
            },
            methods: {
                // select district when clicked
                selectDistrict: function(d) {
                    data.selected = d;
                    console.log(d);
                    
                    // highlight and center on the map
                    map.mapLayer.selectAll('path').style('fill','#eeeeee');
                    var d3_district = map.mapLayer.select('#map_district_'+d.code)
                    d3_district.style('fill','#0000ff');
                },
                deselectDistrict: function(){
                    console.log("deselecting");
                    data.selected = null;
                    // summary does not come back
                    create_summary('#summary',300,100);
                },
                increaseOverBaseline: function(s,base){
                    return s.total_eligible - base.total_eligible;
                },
                increaseReimbursementOverBaseline: function(s,base){
                    // CONSIDER ok to show maximal range here?
                    return [ s.reimbursement.low_end_estimate - base.reimbursement.low_end_estimate,
                             s.reimbursement.high_end_estimate - base.reimbursement.high_end_estimate ];
                }
            } 
        })

        // Retrieve our district data, and sort by largest first
        var request = new XMLHttpRequest();
        request.open('GET', 'output.json', true);
        request.onload = function() { 
            data.district_data = JSON.parse(request.responseText); 
            data.district_data.sort(function(a,b){ return b.total_enrolled - a.total_enrolled} );

            create_map('#map',300,350);
            //create_summary('#summary',300,100);
        }
        request.send();

        // Use D3 to render a map of California
        var map = {};
        function create_map(selector,width,height){
            map.projection = d3.geoMercator()
                                    .scale(1400)
                                    .center([-119,37])
                                    .translate([width / 2, height / 2]);
            var path = d3.geoPath()
                            .projection(map.projection);

            var svg = d3.select(selector)
                        .attr('width', width)
                        .attr('height', height); 
            
            map.g = svg.append('g');

            map.mapLayer = map.g.append('g')
                .classed('map-layer', true);

            var tracts = d3.json('data/ca_districts.geojson');
            tracts.then(function(mapData) {
                map.data = mapData.features;
                console.log(map.data);

                // TODO colorize by  increase
                map.mapLayer.selectAll('path')
                    .data(mapData.features)
                    .enter().append('path')
                        .attr('id', function(d){ return "map_district_"+d.properties.code; })
                        .attr('lat', function(d){ return d.properties.INTPTLAT; })
                        .attr('lng', function(d){ return d.properties.INTPTLON; })
                        .attr('d', path)
                        .attr('vector-effect', 'non-scaling-stroke')
                        .on('click',function(d){
                            var district = data.district_data.filter(function(o){
                                return o.code == d.properties.code;
                            })[0];
                            app.selectDistrict(district);
                        })
                        .style('fill', "#eeeeee")
                        .style('stroke',"#aaaaaa")
                        .style('stroke-width','0.25')

            });
        }

        function create_summary(selector,overall_width,overall_height){

            var margin = 10;
            var width = overall_width - (margin*2);
            var height = overall_height - (margin*2);
 
            // calculate some stats
            var max_enrolled = data.district_data[0].total_enrolled;
            var min_enrolled = data.district_data[data.district_data.length-1].total_enrolled;

            var isps = data.district_data.map(function(o){ return o.overall_isp; }).sort();
            var max_isp = isps[isps.length -1 ];
            var min_isp = isps[0] 

            var svg = d3.select(selector)
                            .attr('width',width)
                            .attr('height',height)
                            .attr("transform",
                            "translate(" + margin + "," + margin + ")");
          
            var x = d3.scaleLinear()
                .domain([min_enrolled,max_enrolled])
                .range([0,width]);
            svg.append("g")
                .attr("transform", "translate(0,"+height+")")
                .call(d3.axisBottom(x));
            var y = d3.scaleLinear()
                .domain([min_isp*100,max_isp*100])
                .range([ height, 0]);
            svg.append("g")
                .call(d3.axisLeft(y));
            svg.append('g')
                .selectAll("dot")
                .data(data.district_data)
                .enter()
                    .append("circle")
                    .attr("cx", function (d) { return x(d.total_enrolled); } )
                    .attr("cy", function (d) { return y(d.overall_isp*100); } )
                    .attr("r", 2)
                    .style("fill", "#0000ff33" )
        }
        
    </script>
</body>
</html>

