// Color
$color-grey-50:     #fafafa;
$color-grey-100:    #f5f5f5;
$color-grey-200:    #eeeeee;
$color-grey-300:    #e0e0e0;
$color-grey-400:    #bdbdbd;
$color-grey-500:    #9e9e9e;
$color-grey-600:    #757575;
$color-grey-700:    #616161;
$color-grey-800:    #424242;
$color-grey-900:    #212121;

$color-primary:     #0071bc;
$color-danger:      #D33838;
$color-caution:     #F5A623;
$color-success:     #00a175;

$color-black: #000;
$color-gray: #9D9D9D;
$color-light-gray: #D8D8D8;
$color-dark-gray: #6B6B6B;
$color-shade-gray: #F9F9F9;
$color-red: #CD1F42;
$color-light-red: #D5405E;
$color-dark-red: #BD1B3C;
$color-blue: #399ED2;
$color-light-blue: #57ACD9;
$color-dark-blue: #3591C0;
$color-green: #008C5A;


// Typography
$em-base:           16px;
$base-font-size:    rem(16px);
$title-styles:      ( font-size: rem(56px), line-height: rem(60px), font-weight: 600, color: $color-black  );
$h1-styles:         ( font-size: rem(42px), line-height: rem(48px), font-weight: 600, color: $color-black  );
$h2-styles:         ( font-size: rem(32px), line-height: rem(36px), font-weight: 400, color: $color-black  );
$h3-styles:         ( font-size: rem(26px), line-height: rem(32px), font-weight: 400, color: $color-black   );
$h4-styles:         ( font-size: rem(20px), line-height: rem(26px), font-weight: 600, color: $color-black  );
$h5-styles:         ( font-size: rem(16px), line-height: rem(24px), font-weight: 600, color: $color-black   );
$h6-styles:         ( font-size: rem(12px), line-height: rem(18px), font-weight: 600, color: $color-gray  );
// $small-font-size:   map-get($h6-styles, font-size);
$small-font-size:     rem(14px);
$base-line-height:    1.5rem;
$tight-line-height:   1.3rem;  // Useful for headings, or narrow columns of text

$font-sans:       'freight-sans-pro', 'Freight Sans Pro', 'Verdana', 'Arial', sans-serif;
$font-serif:      'freight-text-pro', 'Freight Text Pro', 'Georgia', 'Times New Roman', serif;
$font-icon:       'FontAwesome';

// Mobile First Breakpoints
$mobile-up:         481px;
$tablet-up:         768px;
$midscreen-up:      960px;
$widescreen-up:     1201px;

// Magic Numbers
$site-max-width:    1140px;
$site-margins:      20px;
$border-radius:     0px;
$base-spacing:      1rem; //16px
$small-spacing:     .625rem; //10px
$large-spacing:     1.5rem; //24px
