.tag, a.tag {
  -webkit-appearance: none;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  background-color: $color-blue;
  border: 1px solid $color-blue;
  color: white;
  line-height: 0.75rem;
  display: inline-block;
  margin: {
    top: .5em;
    bottom: .5em;
    right: .5em;
  }
  outline: none;
  padding: .375rem .5rem;
  text-decoration: none;
  &:hover {
    background-color: $color-light-blue;
    border: 1px solid $color-light-blue;
    text-decoration: none;
  }
  &:active {
    background-color: $color-dark-blue;
    border: 1px solid $color-dark-blue;
    text-decoration: none;
  }
  &:focus {
    border: 1px solid $color-primary;
    box-shadow: 0 0 0 1px $color-primary;
    text-decoration: none;
  }
}
