.logos {
  margin: {
    top: 1rem;
    bottom: 1rem;
  }
}
.logo-item, a.logo-item {
  display: inline-block;
  margin: .25rem 0;
  width: 30%;
  padding: 5px;
  @include media($tablet-up) {
    width: 15%;
    padding: 20px;
  }
}
