.template-primary-page {
  .spacer {
    @include clearfix;
    display: block;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .alert a {
    background-color: $color-dark-blue;
    color: white;
    border-bottom: 0;
  }
}
