<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Nikolaj Baer">
  <title>Meals Count USDA Community Eligibility Provision CEP Grouping Calculator and Optimization Free Tool</title>
  <link rel="shortcut icon" type="image/png" href="/favicon.png">
  <link href="https://fonts.googleapis.com/css2?family=Muli&display=swap" rel="stylesheet">
  <!-- century gothic -->
  <link rel="stylesheet" href="https://use.typekit.net/jsl6pwa.css">
  <script>
    // Constant Contact Form for newsletter submissions
    var _ctct_m = "f2a1bbbf543cfb81951f5eda3e81163e";
  </script>
</head>

<body class="wrap-1920" {% if analytics_id %}data-analytics-id="{{ analytics_id }}"{% endif %} >
  <div id="app"></div> 
</body>

<!-- begin olark code -->
<script type="text/javascript" async> ;(function(o,l,a,r,k,y){if(o.olark)return; r="script";y=l.createElement(r);r=l.getElementsByTagName(r)[0]; y.async=1;y.src="//"+a;r.parentNode.insertBefore(y,r); y=o.olark=function(){k.s.push(arguments);k.t.push(+new Date)}; y.extend=function(i,j){y("extend",i,j)}; y.identify=function(i){y("identify",k.i=i)}; y.configure=function(i,j){y("configure",i,j);k.c[i]=j}; k=y._={s:[],t:[+new Date],c:{},l:a}; })(window,document,"static.olark.com/jsclient/loader.js");
  /* custom configuration goes here (www.olark.com/documentation) */
  {% if olark_id %}
    olark.identify('{{ olark_id }}');
  {% endif %}
  </script>
<!-- end olark code -->

</html>
