@import "./theme.scss";
@import "~bootstrap/scss/bootstrap";

.logo {
  width: 200px;
  padding: 20px;

}

.nav-container {
  max-width: 1920px;
}

.container {
    max-width: 960px;
}
  
/*
  * Site Header 
*/

nav {
  height: 160px;
  @include media-breakpoint-down(lg) {
    height: 90px;
  }
  .logo {
    margin-top: 35px;
    @include media-breakpoint-down(lg) {
      img {
        width: 150px;
      }
    }
  }
  .navbar-nav {
    width: 100%;
  }
  .navbar-collapse {
    @include media-breakpoint-down(md) {
      background-color: white;
      z-index: 1000;
    }
  }
  .navbar-nav a {
    margin-top: 35px;
    text-transform: uppercase;
    color: #4AAB4F;
    font-size: 28px; 
    font-weight: Bold;
    font-family: "Century Gothic", "Muli", sans-serif;
    @include media-breakpoint-down(lg) {
      font-size: 18px;
      margin-top: 13px;
    }
    :hover { text-decoration: none;}
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
}

th {
  cursor: pointer;
}

/* 
* Footer
*/

footer.site-footer {
  padding-bottom: 100px; 
  margin-top: 100px;
  font-size: 28px;
  color: white;

  .nav-container {
    max-width: 1685px;
    margin: auto;
  }

  a:hover {color: white;}
  a {
    font-size: 22px;
    padding-top: 20px;
    line-height: 0.5em; 
    color: white;
  }

  h5 {
    display: inline;
    font-size: 28px;
    font-weight: bold;
    border-bottom: 5px solid #B0D35C;
  }

  .icon {
    margin-top: 60px;
    font-size: 62px;
    font-weight: bold;
    color: white;
    svg {
      vertical-align: bottom;
    }
    div {
      float: left;
    }
  }

  background: transparent linear-gradient(263deg, #B0D35C 0%, #4AAB4F 51%, #4AAB4F 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
}
