@import "./theme.scss";
@import "~bootstrap/scss/bootstrap";

.logo {
  width: 200px;
  padding: 20px;

}

.container {
    max-width: 1920px;
    
  }
  
  /*
   * Custom translucent site header
   */
  
  .site-header {
    height: 160px;
  }
  .site-header .logo {
    margin-top: 35px;
  }
  .site-header nav {
    margin-top: 41px;
  }
  .site-header a {
    text-transform: uppercase;
    color: #4AAB4F;
    font-size: 28px; 
    font-weight: Bold;
    font-family: "Century Gothic" "Muli" sans-serif;
    margin-left:  83px;
  }
  .site-header a:hover {
    text-decoration: none;
  }
 
  /*
   * Extra utilities
   */
  
  .flex-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
  @media (min-width: 768px) {
    .flex-md-equal > * {
      -ms-flex: 1;
      flex: 1;
    }
  }
  
  .overflow-hidden { overflow: hidden; }

  th {
    cursor: pointer;
  }