@import "./theme.scss";
@import "~bootstrap/scss/bootstrap";

.logo {
  width: 200px;
  padding: 20px;
}

.nav-container {
  max-width: 1920px;
}

.container {
  max-width: 960px;
}

/*
  * Site Header 
*/

body.body-home {
  max-width: 1920px;
  margin: auto;
}

body.wrap-1920 > div {
  margin-left: auto;
  margin-right: auto;
  background: white;
  position: relative;
}

nav {
  height: 130px;
  @include media-breakpoint-down(lg) {
    height: 90px;
  }
  @media only screen and (min-width: 1600px) {
    height: 160px;
  }
  .logo {
    margin-top: 35px;
    @include media-breakpoint-down(lg) {
      img {
        width: 150px;
      }
    }
    @media only screen and (min-width: 1200px) {
      img {
        width: 250px;
        margin-left: 48px;
      }
    }
    @media only screen and (min-width: 1600px) {
      img {
        // width: 300px;
        margin-left: 90px;
      }
    }
  }
  .navbar-nav {
    width: 100%;
    padding-right: 40px;
    @media only screen and (min-width: 1600px) {

      padding-right: 70px;
    }
  }

  .navbar-collapse {
    @include media-breakpoint-down(md) {
      background-color: white;
      z-index: 1000;
    }
  }
  .navbar-nav a {
    margin-top: 20px;
    color: #4aab4f;
    font-size: 22px;
    font-weight: Bold;
    // font-family: "Century Gothic", "Muli", sans-serif;
    letter-spacing: 0.3px;

    @include media-breakpoint-down(lg) {
      font-size: 18px;
      margin-top: 13px;
    }
    &:hover {
      text-decoration: none;
      color: #b0d35c;
    }
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
}

body.wrap-1920 {
  background: #ffffff;
  max-width: 1920px;
  margin: auto;
}
.site-header {
  height: 160px;
}

.site-header .logo {
  margin-top: 35px;
}
.site-header nav {
  margin-top: 41px;
  margin-right: 35px;
}
.site-header a {
  text-transform: uppercase;
  color: #4aab4f;
  font-size: 28px;
  font-weight: Bold;
  font-family: "century-gothic", "Muli", sans-serif;
  margin-left: 83px;
}
.site-header a:hover {
  text-decoration: none;
}

/*
  * Extra utilities
  */

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

th {
  cursor: pointer;
}

/* 
* Footer
*/

footer.site-footer {
  //padding-bottom: 100px;
  margin-top: 100px;
  font-size: 28px;
  color: white;
  position: relative;
  overflow: hidden;
  @media only screen and (min-width: 1400px) {
    margin-top: 0px;
  }

  .nav-container {
    max-width: 1685px;
    margin: auto;
    padding: 0 15px;
    @media only screen and (min-width: 1400px) {
      padding: 360px 70px 64px 100px;
    }
  }

  a:hover {
    color: white;
  }
  a {
    font-size: 20px;
    padding-top: 20px;
    line-height: 1;
    color: white;
    // @include media-breakpoint-down(sm) {
    //   font-size: 18px;
    //   line-height: 1;
    // }
  }

  h5 {
    display: inline;
    font-size: 22px;
    font-weight: bold;
    border-bottom: 4px solid #b0d35c;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 10px;
    @include media-breakpoint-down(sm) {
      font-size: 22px;
    }
  }

  ul {
    padding-top: 15px;

    li {
      padding-top: 15px;
      line-height: 27px;
    }
  }

  .icon {
    margin-top: 60px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    height: 140px;
    @media only screen and (min-width: 1600px){
      font-size: 52px;
    }
    svg {
      vertical-align: bottom;
    }
    div {
      float: left;
    }
  }

  background: transparent
    linear-gradient(263deg, #b0d35c 0%, #4aab4f 51%, #4aab4f 100%) 0% 0%
    no-repeat padding-box;
  @media only screen and (min-width: 1400px) {
    background: none;
  }
  opacity: 1;
}
input.error {
  border: 1px solid red;
}